

# exclude python environment folder
.env
**/*.egg-info

# exclude pycache and jupyter files
**/__pycache__/
.jupyter_ystore.db
**/.ipynb_checkpoints



# exclude image folders
raw_images
composed
output

# exclude imges
*.png
*.jpg